/*box-sizing: border-box = border, padding, content included in height and width values*/
* {
	box-sizing: border-box; 
}

body {
	background: grey;
}

body, h1, h2, h3, p, a {
	font-family: font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
	background: black;
	height: 60px;

}

header a {
	color: white;
	line-height: 60px;
	padding: 0 150px;
	
}

a {
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

.container {
	background-color: white;
	margin: 0 auto;
	width: 100%;
	height: 700px;
	border-radius: 2px;
	text-align: center;
	min-height: 100vh;
	overflow: auto;
	position: relative;
}

.text {
	width: 45%;
	text-align: center;
	margin: 150px auto;
}

.text p {
		text-align: center;
		line-height: 1.8em;
		font-weight: 100;
		
}

.left {
	position: absolute;
	top: 5%;
	left: 5%;
	background: white;
	height: 15%;
	weight: 15%;
	
}

.right {
	position: absolute;
	top: 5%;
	right: 5%;
	background: white;
}

h1 {
	margin: 10px;
	font-weight: 100;
	
}


.sticky-right {
	float: right;
}

@media (max-width: 600px) {
	header .sticky-right {
		display: none;
	}
	header {
		text-align: center;
	}
}

@media all and (min-width: 600px) and (max-width: 670px) {
	header .sticky-right{
		position: fixed;
		bottom: 0;
		right: 0;
		margin: px;
	}
}

footer {
	
}